@use'common';

.ConSlide {
	padding: 150px 0; position: relative; background: #fafafa;

	.inner {
		.slideArrows { display: flex; gap: 10px; width: 50px;
        img{cursor: pointer;}
        }
	}
	.MainConSlide {
		position: absolute; top: 50%; right: -10%; transform: translateY(-50%); width: calc((100% - 1420px) / 2 + 820px );

		img { padding: 0 10px; }
	}
}